<div id="wrap" class="bodywrap houqin">
    <div class="row" style='margin-top: 40px;'>
        <div class="col-sm-3">
            <a href="#/app/hys/MyInstance/meeting/null"  ui-sref='app.MyInstance({TopAppCode:"hys",SchemaCode:"meeting",State:"null",FunctionCode:"myhwsq"})' >
                <img src="img/ST_yw_wj_gw.png" alt="">
                <h4>公文管理</h4>
            </a>
        </div>
        <div class="col-sm-3">
            <a ui-sref='app.MyInstance({TopAppCode:"CarManage",SchemaCode:"Car",State:"Unfinished",FunctionCode:"wdsq"})' href="#/app/CarManage/MyInstance/Car/Unfinished">
                <img src="img/ST_yw_wj_gzlx.png" alt="">
                <h4>工作联系单</h4>
            </a>
        </div>
        <div class="col-sm-3">
            <a ui-sref='app.MyInstance({TopAppCode:"kfgl",SchemaCode:"kefan",State:"Unfinished",FunctionCode:"kfdcx"})' href="#/app/kfgl/MyInstance/kefan/Unfinished">
                <img src="img/ST_yw_wj_cpjgl.png" alt="">
                <h4>呈批件管理</h4>
            </a>
        </div>
        <div class="col-sm-3">
            <a ui-sref='app.MyInstance({TopAppCode:"ccgl",SchemaCode:"BusinessTravel",State:"Unfinished",FunctionCode:"cccx"})' href="#/app/ccgl/MyInstance/BusinessTravel/Unfinished">
                <img src='img/ST_yw_wj_dagl.png' alt="">
                <h4>档案管理</h4>
            </a>
        </div>
    </div>
</div>
<style>
    .app-aside {
        display:none;
    }
    .app-content-body {
        margin-left: -170px;
    }
    .row {
        margin:0px;
    }
    .houqin {
        width:110%;
    }
    .houqin .col-sm-3 {
        text-align:center;
    }
    .houqin .col-sm-3 img {
        width:120px;
        margin-bottom: 20px;
    }
    .houqin .col-sm-12 {
        width: 104%;
        margin-left: -4px;
    }
    #wrap h4 {
        /*font-family: PingFangSC-Regular;*/
        font-size: 18px;
    }
    #wrap img {
        width: 85px;
        height: 85px;
    }
</style>
<script>
    $(function(){
        var h4List = $('#wrap').find('h4');
        for (var i = 0; i < h4List.length; i++) {
            h4List[i].onclick = function (){
                console.log();
            }
        }
    })
</script>