<!-- 信息发布管理 -->
<div id="wrap" class="bodywrap houqin">
    <div class="row" style='margin-top: 40px;'>
        <div class="col-sm-3">
            <a ui-sref='app.EditBizObject({TopAppCode:"menhu",SchemaCode:"ViewNews",SheetCode:"ViewNews",Mode:"Originate",FunctionCode:"viewAllNews"})' href="#/app/menhu/EditBizObject/ViewNews/ViewNews/Originate/viewAllNews">
                <img src='img/file/ST_yw_xx_xwgggl.png' alt="">
                <h4>新闻公告管理</h4>
            </a>
        </div>
        <div class="col-sm-3">
            <a href="#/app/Contacts/BizQueryView/AddressBook/TXLCX/qytxlcx" ui-sref='app.BizQueryView({TopAppCode:"Contacts",SchemaCode:"AddressBook",QueryCode:"TXLCX",FunctionCode:"qytxlcx"})'>
                <img src="img/file/ST_yw_xx_txl.png" alt="">
                <h4>通讯录</h4>
            </a>
        </div>
        <div class="col-sm-3">
            <a  href="#/app/lczn/BizQueryView/FlowForm/lczncx/lczncx" ui-sref='app.BizQueryView({TopAppCode:"lczn",SchemaCode:"FlowForm",QueryCode:"lczncx",FunctionCode:"lczncx"})'>
                <img src='img/file/办事指南.png' alt="">
                <h4>办事指南</h4>
            </a>
        </div>
        <div class="col-sm-3">
            <a href="#/app/zlzx/BizQueryView/MaterialCenter/zlzxcx/zlcx" ui-sref='app.BizQueryView({TopAppCode:"zlzx",SchemaCode:"MaterialCenter",QueryCode:"zlzxcx",FunctionCode:"zlcx"})'>
                <img src="img/file/资料中心.png" alt="">
                <h4>资料中心</h4>
            </a>
        </div>
    </div>
    <div class="row" style='margin-top: 40px;'>
        <div class="col-sm-3">
            <a href="#/app/dtqk/BizQueryView/SubwayJournals/qkcx/dtqkcx" ui-sref='app.BizQueryView({TopAppCode:"dtqk",SchemaCode:"SubwayJournals",QueryCode:"qkcx",FunctionCode:"dtqkcx"})'>
                <img src="img/file/地铁期刊.png" alt="">
                <h4>地铁期刊</h4>
            </a>
        </div>
        <div class="col-sm-3">
            <a href="##/app/dtxw/BizQueryView/SubwayNews/dtxwcx/dtxwcx" ui-sref='app.BizQueryView({TopAppCode:"dtxw",SchemaCode:"SubwayNews",QueryCode:"dtxwcx",FunctionCode:"dtxwcx"})'>
                <img src="img/file/地铁新闻.png" alt="">
                <h4>地铁新闻</h4>
            </a>
        </div>
    </div>
</div>
<style>
    .app-aside {
        display:none;
    }
    .app-content-body {
        margin-left: -170px;
    }
    .row {
        margin:0px;
    }
    .houqin {
        width:110%;
    }
    .houqin .col-sm-3 {
        text-align:center;
    }
    .houqin .col-sm-3 img {
        width:120px;
        margin-bottom: 20px;
    }
    .houqin .col-sm-12 {
        width: 104%;
        margin-left: -4px;
    }
    #wrap h4 {
        /*font-family: PingFangSC-Regular;*/
        font-size: 18px;
        margin: 0;
    }
    #wrap img {
        width: 85px;
        height: 85px;
    }
</style>
