<div class="SY_ul_login">
    <ul>
        <li><a href=""><img src="img/footer_shanghai .png" alt=""></a></li>
        <li><a href=""><img src="img/footer_beijing .png" alt=""></a></li>
        <li><a href=""><img src="img/footer_guangzhou.png" alt=""></a></li>
        <li><a href=""><img src="img/footer_xian.png" alt=""></a></li>
        <li><a href=""><img src="img/footer_shenzhen.png" alt=""></a></li>
        <li><a href=""><img src="img/footer_shenyang .png" alt=""></a></li>
        <li><a href=""><img src="img/footer_hefei.png" alt=""></a></li>
        <li><a href=""><img src="img/footer_chengdu.png" alt=""></a></li>
    </ul>
</div>
<div class="SY_foot_login">
    <div><img src="img/copyright_st.png" alt=""></div>
    <div><img src="img/bottom.png" alt=""></div>
</div>
<style>
    .SY_ul_login {
        width:98%;
        height:80px;
        position:absolute;
        /* bottom: 0px; */
        /* background: #FCFCFC; */
        /* border: 1px solid #C0C0C0; */
    }
    .SY_ul_login ul {
        margin-top: 0;
        margin-bottom: 10px;
    }
    .SY_ul_login ul li {
        width:12.5%;
        list-style-type: none;
        float:left;
        padding:0 5px;
    }
    .SY_ul_login ul li img {
        width:120%;
    }
    .SY_foot_login {
        width: 98%;
        position: absolute;
        bottom: 40px;
        background: white;
        height: 50px;
        text-align:center;
    }
</style>