<div class="N-top">
    <div><img src="img/main_icon_notice.png" style='padding-right: 10px;' alt="">公告栏
    <a href="#" class="more">更多</a>
    </div>
</div>
<div class="line"></div>
<div class="content">
    <ul>
        <li>关于2016中秋节放假安排<span class="date">[09-12]</span></li>
        <li>公司九月培训计划预告<span class="date">[09-02]</span></li>
        <li>关于xxx通知任职通知<span class="date">[08-12]</span></li>
        <li>公告<span class="date">[08-10]</span></li>
        <li>公告<span class="date">[07-12]</span></li>
        <li>公告<span class="date">[06-12]</span></li>
        <li>公告<span class="date">[05-12]</span></li>
    </ul>
</div>
<style>
    .N-top {
        height:30px;
        background: #FFFFFF;
        /*font-family: PingFangSC-Medium;*/
        font-size: 15px;
        line-height:32px;
        color: #4E4E4E;
    }
    .more {
        float:right;
        color: #E43935;
        /*font-family: PingFangSC-Regular;*/
    }
    .line {
        width: 103%;
        height:.125rem/* 2px */;
        background: #D7D7D7;
    }
    .content ul li {
        font-size: 15px;
        padding: 5px;
    }
    .date {
        float:right;
    }
</style>