<div class="M_top">
    <div><img src="img/main_icon_matter.png" style='padding-right: 10px;' alt="">待办事项
    <a href="#" class="M_more" style='color: #03B2C5;'>更多</a>
    </div>
</div>
<div class="line"></div>
<div class="T_content">
    <div class="T_top clear">
        <a href="" class="left">
            <img src="img/main_matter_bum.png" alt="">
        </a>
        <div class="left">
            <p>待阅公文</p>
            <p><span>共1篇</span></p>
        </div>
    </div>
    <div class="T_bottom clear" style='margin-top: 30px;'>
         <a href="" class="left">
            <img src="img/main_matter_look.png" alt="">
        </a>
        <div class="left">
            <p>发文审核</p>
            <p><span>共12篇</span></p>
        </div>
    </div>
</div>
<style>
    .M_top {
        height:30px;
        background: #FFFFFF;
        font-family: PingFangSC-Medium;
        font-size: 15px;
        line-height:32px;
        color: #4E4E4E;
    }
    .T_content {
        padding: 20px;
    }
    .T_content .T_top div,.T_content .T_bottom div {
        margin-top: 35px;
        margin-left: 10px;
    }
    .T_top {
        vertical-align:middle;
    }
    .left {
        float:left;
    }
</style>