<div class="M_top">
    <div><img src="img/main_icon_helpe.png" style='padding-right: 10px;' alt="">办公助手
    <a href="#" class="M_more" style="color: #F07374;">更多</a>
    </div>
</div>
<div class="line"></div>
<div class="O_content">
    <div class="O_top clear">
        <a href="" class="left">
            <img src="img/main_helpe_emall.png" alt="">
        </a>
        <p class="left">企业邮箱</p>
    </div>
    <div class="O_center clear" >
         <a href="" class="left">
            <img src="img/main_helpe_meg.png" alt="">
        </a>
        <p class="left">短信平台</p>
    </div>
    <div class="O_bottom clear" >
         <a href="" class="left">
            <img src="img/main_helpe_list.png" alt="">
        </a>
        <p class="left">企业通讯录</p>
    </div>
</div>
<style>
    .O_content {
        padding:20px;
    }
    .O_center,.O_top,.O_bottom {
        margin-bottom: 25px;
    }
    .O_top p,.O_center p,.O_bottom p {
        margin-left: 9px;
        margin-top: 22px;
    }
    .left {
        float:left;
    }
</style>
