<div id="wrap" class="bodywrap houqin">
    <div class="row" style='margin-top: 40px;'>
        <div class="col-sm-3">
            <a  ui-sref='app.EditBizObject({TopAppCode:"zfgl",SchemaCode:"ProjectHouseRental",SheetCode:"ProjectHouseRental",Mode:"Originate",FunctionCode:"hqzfsq"})' href="#/app/zfgl/EditBizObject/ProjectHouseRental/ProjectHouseRental/Originate/hqzfsq">
                <img src="img/project/租房管理.png" alt="">
                <h4>租房管理</h4>
            </a>
        </div>
        <div class="col-sm-3">
            <a ui-sref='app.EditBizObject({TopAppCode:"hqcegl",SchemaCode:"ProjectCarRental",SheetCode:"ProjectCarRental",Mode:"Originate",FunctionCode:"hqzcsq"})' href="#/app/gzlxd/MyInstance/ContactList/Unfinished">
                <img src="img/project/租车管理.png" alt="">
                <h4>租车管理</h4>
            </a>
        </div>
        <div class="col-sm-3">
            <a  href="#/app/gdzcgl/BizQueryView/FixedAsset/FAQuery/guzccx">
                <img src="img/project/固定资产管理.png" alt="">
                <h4>固定资产管理</h4>
            </a>
        </div>
        <div class="col-sm-3">
            <a  href="#/app/Workflow/office">
                <img src="img/project/办公用品.png" alt="">
                <h4>办公用品管理</h4>
            </a>
        </div>
    </div>
</div>
<style>
    .app-aside {
        display:none;
    }
    .app-content-body {
        margin-left: -170px;
    }
    .row {
        margin:0px;
    }
    .houqin {
        width:110%;
    }
    .houqin .col-sm-3 {
        text-align:center;
    }
    .houqin .col-sm-3 img {
        width:120px;
        margin-bottom: 20px;
    }
    .houqin .col-sm-12 {
        width: 104%;
        margin-left: -4px;
    }
    #wrap h4 {
        /*font-family: PingFangSC-Regular;*/
        font-size: 18px;
        margin: 0;
    }
    #wrap img {
        width: 85px;
        height: 85px;
    }
</style>
