<div id="wrap" class="bodywrap houqin">
    <div class='wrapBox'>
        <div class="row">
            <div class="col-sm-6">后勤物品</div>
        </div>
        <div class='divLine'></div>
        <div class="row">
            <div class="col-sm-2">
                <a  ui-sref='app.QueryInstance({TopAppCode:"zfgl",SchemaCode:"ProjectHouseRental"})' href="#/app/zfgl/QueryInstance/ProjectHouseRental">
                    <img src="img/project/租房管理.png" alt="">
                    <h4>租房管理</h4>
                </a>
            </div>
            <div class="col-sm-2">
                <a ui-sref='app.QueryInstance({TopAppCode:"hqcegl",SchemaCode:"ProjectCarRental"})' href="#/app/hqcegl/QueryInstance/ProjectCarRental">
                    <img src="img/project/租车管理.png" alt="">
                    <h4>租车管理</h4>
                </a>
            </div>
            <div class="col-sm-2">
                <a  href="#/app/gdzcgl/BizQueryView/FixedAsset/FAQuery/guzccx">
                    <img src="img/project/固定资产管理.png" alt="">
                    <h4>固定资产管理</h4>
                </a>
            </div>
            <div class="col-sm-2">
                <a ui-sref='app.QueryInstance({TopAppCode:"bgypgl",SchemaCode:"ProjectConsumables",QueryCode:"null",FunctionCode:"yhpcgcx"})'>
                    <img src="img/project/办公用品.png" alt="">
                    <h4>办公用品管理</h4>
                </a>
            </div>
        </div>
    </div>
    <div class='wrapBox'>
        <div class="row">
            <div class="col-sm-6">人员管理</div>
        </div>
        <div class='divLine'></div>
        <div class="row">
            <div class="col-sm-2">
                <a  ui-sref='app.QueryInstance({TopAppCode:"wprygl",SchemaCode:"RecruitmentStaff"})' href="#/app/wprygl/QueryInstance/RecruitmentStaff">
                    <img src="img/project/外聘人员管理.png" alt="">
                    <h4>外聘人员管理</h4>
                </a>
            </div>
            <div class="col-sm-2">
                <a ui-sref='app.QueryInstance({TopAppCode:"gzrz",SchemaCode:"WorkDaily"}))' href="#/app/gzrz/QueryInstance/WorkDaily">
                    <img src="img/project/工作日志.png" alt="">
                    <h4>工作日志</h4>
                </a>
            </div>
            <div class="col-sm-2">
                <a ui-sref='app.QueryInstance({TopAppCode:"xmfzrygl",SchemaCode:"ProjectAide",QueryCode:"null",FunctionCode:"xmfurycx"})' href="#/app/xmfzrygl/QueryInstance/ProjectAide">
                    <img src="img/project/辅助人员.png" alt="">
                    <h4>辅助人员</h4>
                </a>
            </div>
        </div>
    </div>
    <div class='wrapBox'>
        <div class="row">
            <div class="col-sm-6">考勤管理</div>
        </div>
        <div class='divLine'></div>
        <div class="row">
            <div class="col-sm-2">
                <a ui-sref='app.Attendance({TopAppCode:"kqbgl"})' >
                    <img src="img/project/考勤表管理.png" alt="">
                    <h4>考勤表管理</h4>
                </a>
            </div>
            <div class="col-sm-2">
                <a  href="#/app/ccgl/travelview" ui-sref='app.houqinTravel({TopAppCode:"ccgl"})'>
                    <img src="img/project/出差管理.png" alt="">
                    <h4>出差管理</h4>
                </a>
            </div>
            <div class="col-sm-2">
                <a ui-sref='app.QueryInstance({TopAppCode:"XMtqgl",SchemaCode:"TQSQ"})'>
                    <img src="img/project/探亲管理.png" alt="">
                    <h4>探亲管理</h4>
                </a>
            </div>
            <div class="col-sm-2">
                <a ui-sref='app.QueryInstance({TopAppCode:"yghh",SchemaCode:"BackSH"})' href="#/app/yghh/QueryInstance/BackSH">
                    <img src="img/project/因公回沪.png" alt="">
                    <h4>因公回沪</h4>
                </a>
            </div>
            <div class="col-sm-2">
                <a ui-sref='app.QueryInstance({TopAppCode:"qtxj",SchemaCode:"Leave"})' href="#/app/qtxj/QueryInstance/Leave">
                    <img src="img/hqgl/hq_icon_zz.png" alt="">
                    <h4>其他休假</h4>
                </a>
            </div>
        </div>
    </div>
    <div class='wrapBox'>
        <div class="row">
            <div class="col-sm-6">成本管理</div>
        </div>
        <div class='divLine'></div>
        <div class="row">
            <div class="col-sm-2">
                <a ui-sref='app.QueryInstance({TopAppCode:"xmbyjgl",SchemaCode:"SpareMoney",QueryCode:"null",FunctionCode:"xmbyjcx"})' >
                    <img src="img/project/备用金管理.png" alt="">
                    <h4>备用金管理</h4>
                </a>
            </div>
            <div class="col-sm-2">
                <a ui-sref='app.QueryInstance({TopAppCode:"zwjtffgl",SchemaCode:"ProjectCost",QueryCode:"null",FunctionCode:"zwjtffcx"})'>
                    <img src="img/project/驻外津贴发放管理.png" alt="">
                    <h4>驻外津贴发放管理</h4>
                </a>
            </div>
            <div class="col-sm-2">
                <a ui-sref='app.QueryInstance({TopAppCode:"zxylwfgl",SchemaCode:"ZJZXF",QueryCode:"null",FunctionCode:"zjzxfffcx"})' >
                    <img src="img/project/咨询与劳务费管理.png" alt="">
                    <h4>咨询与劳务费管理</h4>
                </a>
            </div>
            <div class="col-sm-2">
                <a ui-sref='app.QueryInstance({TopAppCode:"hsfgl",SchemaCode:"ZWHSBT",QueryCode:"null",FunctionCode:"xmzwhsfbtcx"})'>
                    <img src="img/project/伙食费管理.png" alt="">
                    <h4>伙食费管理</h4>
                </a>
            </div>
            <!--<div class="col-sm-2">-->
                <!--<a href='javascript:void(0)'>-->
                    <!--<img src="img/project/项目报销管理.png" alt="">-->
                    <!--<h4>项目报销管理</h4>-->
                <!--</a>-->
            <!--</div>-->
        </div>
    </div>
</div>
<style>
    .app-aside {
        display:none;
    }
    .app-content-body {
        margin-left: -170px;
    }
    .row {
        margin:0px;
    }
    .houqin {
        width:110%;
    }
    .houqin .col-sm-3 {
        text-align:center;
    }
    .houqin .col-sm-2 img {
        width:120px;
        margin-bottom: 20px;
    }
    .houqin .col-sm-6 {
        /*font-family: "PingFangJ SFDRegular";*/
        font-size: 30px;
        color:#0A0A0A;

    }
    #wrap h4 {
        /*font-family: "PingFangJ SFDMedium";*/
        font-size: 18px;
        color:#0A0A0A;
        margin: 0;
        font-weight: inherit;
    }
    #wrap img {
        width: 85px;
        height: 85px;
    }
    .divLine {
        width: 43%;
        height: 2px;
        margin: 5px 5px 25px 5px;
        border: 1px solid #aaaaaa;

    }
    .wrapBox {
        margin-bottom: 60px;
        margin-top: 15px;
    }
    .wrapBox .col-sm-2 {
        text-align: center;
    }
</style>