<!--&lt;!&ndash; 首页轮播图模块 &ndash;&gt;-->
<!--<div id="myCarousel" class="myCarousel carousel slide ">-->
    <!--&lt;!&ndash;<ol class="carousel-indicators">&ndash;&gt;-->
        <!--&lt;!&ndash;<li data-target="#myCarousel" data-slide-to="0" ></li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li data-target="#myCarousel" data-slide-to="1" class="active"></li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li data-target="#myCarousel" data-slide-to="2"></li>&ndash;&gt;-->
    <!--&lt;!&ndash;</ol>&ndash;&gt;-->
    <!--<div class="carousel-inner">-->
        <!--&lt;!&ndash;<div class="item">&ndash;&gt;-->
            <!--&lt;!&ndash;<a href="javascript:void(0);" >&ndash;&gt;-->
                <!--&lt;!&ndash;<img src="img/demo/banner2.png" />&ndash;&gt;-->
            <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--<div class="item active">-->
            <!--<a href="javascript:void(0);" >-->
                <!--<img src="img/banner4.jpg" />-->
            <!--</a>-->
        <!--</div>-->
        <!--&lt;!&ndash;<div class="item">&ndash;&gt;-->
            <!--&lt;!&ndash;<a href="javascript:void(0);">&ndash;&gt;-->
                <!--&lt;!&ndash;<img src="img/demo/banner3.png" />&ndash;&gt;-->
            <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</div>-->
    <!--&lt;!&ndash; data-slide="prev"    data-slide="next"  href="#myCarousel" href="#myCarousel"&ndash;&gt;-->
    <!--&lt;!&ndash;<a class="carousel-control left prev-slide " style="position:absolute;">&lsaquo;</a>&ndash;&gt;-->
    <!--&lt;!&ndash;<a class="carousel-control right next-slide"  style="position:absolute;">&rsaquo;</a>&ndash;&gt;-->
<!--</div>-->
<!--&lt;!&ndash; lazy &ndash;&gt;-->
<!--<style>-->
    <!--.myCarousel .carousel-inner .item a img {-->
        <!--height:188px;-->
    <!--}-->
<!--</style>-->
<!--<script type="text/javascript">-->
    <!--$(function () {-->
        <!--$('.carousel').carousel({-->
            <!--interval: 3000-->
        <!--});-->
        <!--$('.prev-slide').click(function () {-->
            <!--$('#myCarousel').carousel('prev');-->
        <!--});-->
        <!--$('.next-slide').click(function () {-->
            <!--$('#myCarousel').carousel('next');-->
        <!--});-->
    <!--});-->
<!--</script>-->




