<!-- 首页天气模块 -->
<div id="weather-test"></div>
<style>
    .weatherTop {
        padding: 60% 16%;
        height: 100%;
        text-align: left;
    }
    .weatherBottom {
        padding: 2% 0px;
        text-align: center;
        position: absolute;
        top:2%;
        right: 10%;
    }
    #weather-test {
        height: 280px;
        color: white;
        font-size: 15px;
    }
</style>
<script type="text/javascript">
    $('#weather-test').weather();
    $(window).resize(function() {
        $('#weather-test').height($('#carousel-example-generic').height()+43);
    });
    $('#weather-test').height($('#carousel-example-generic').height()+43);
</script>